body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Dosis',sans-serif;
    overflow-x: hidden;
}
header{
    height: 15vh;
    background-color: rgb(37, 37, 148);
    width: 100vw;
    position: relative;
}
#logo{
    width: 100px;
    left: 50px;
    position: absolute;
    cursor: pointer;
}
footer{
    display: block;
    background-color: rgb(37, 37, 148);
    height: 5vh;
    text-align: center;
    color: white;
}
.navbar{
    background-color: rgb(37, 37, 148);
    margin-top: 50px;
    height: 80px;
    display: block;
}
.navbar_items_container{
    display: flex;
    justify-content: space-around;
}
.navbar_item{
    margin-top: 20px;
    padding: 10px;
    font-family:'Dosis',sans-serif;
    color: white;
    text-decoration: none;
}
.navbar_item:hover{
    background-color: white;
    font-weight: bold;
    color: rgb(37, 37, 148);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.banner_area{
    width: 80vw;
    min-height: 120px;
    aspect-ratio: 10/2;
    margin: 50px auto 50px auto;
    overflow: hidden;
    position: relative;
}
.banner_area:hover{
    transform: scale(1.01);
}
#banner_back,#banner_next{
    width: 10%;
    padding: 20% 0 20% 0;
    top: -50%;
    position: absolute;
    text-align: center;
    cursor: pointer;
}
#banner_back{
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(6, 6, 6));
    position: absolute;
    z-index: 1;
}
#banner_next{
    right:0;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(6, 6, 6));
    position: absolute;
    z-index: 1;
}
.banner_image{
    max-width: 100%;
    max-height: 100%;
    animation: Banner 5s linear infinite;
}
@keyframes Banner{
    0%{
        transform:translateX(1%)
    }
    50%{
        transform:translateX(0%)
    }
    100%{
        transform:translateX(-2%)
    }}
.sales_area,.playstation_area,.xbox_area,.nintendo_area,.gifts_area,.acessories_area,.consoles_area{
    background-color: rgb(37, 37, 148);
    color: white;
    display: block;
    padding-top: 50px;
    padding-left: 30px;
    height: 10vh;
}
.product_area_1,.product_area_2,.product_area_3,.product_area_4,.product_area_5,.product_area_6,.product_area_7{
    width: 80vw;
    height: 30vh;
    margin:50px auto;
    background-color: grey;
    position: relative;
    overflow: hidden;
    display: flex;
}
#products_to_be_moved_1,#products_to_be_moved_2,#products_to_be_moved_3,#products_to_be_moved_4,#products_to_be_moved_5,#products_to_be_moved_6,#products_to_be_moved_7{
    display: flex;
    flex-direction: row;
    width: 80vw;
    transition: 0.5s ease-in-out;
}
.product{
    width: 15%;
    min-width: 150px;
    height: 90%;
    margin-top: 10px;
    margin-left: 20px;
    flex-shrink: 0;
    border: 1px solid grey;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.product_image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index:1;
}
.product:hover{
    transform: scale(1.05);
    border: 1px solid white;
}
#last_product_1,#next_product_1,#last_product_2,#next_product_2,#last_product_3,#next_product_3,#last_product_4,#next_product_4,#last_product_5,#next_product_5,#last_product_6,#next_product_6,#last_product_7,#next_product_7{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: cornflowerblue;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    top: 40%;
    cursor: pointer;
    z-index: 2;
    display: flex;
    justify-content: center;
}
#last_product_1:hover,#next_product_1:hover,#last_product_2:hover,#next_product_2:hover,#last_product_3:hover,#next_product_3:hover,#last_product_4:hover,#next_product_4:hover,#last_product_5:hover,#next_product_5:hover,#last_product_6:hover,#next_product_6:hover,#last_product_7:hover,#next_product_7:hover{
    border: 1px solid white;
    transform: scale(1.03);
}
#last_product_1,#last_product_2,#last_product_3,#last_product_4,#last_product_5,#last_product_6,#last_product_7{
    left: 10px;
}
#next_product_1,#next_product_2,#next_product_3,#next_product_4,#next_product_5,#next_product_6,#next_product_7{
    right: 10px;
    background-image: url(/Assets/button_next.png);
}
.product_tag{
    width: 40%;
    position: absolute;
    height: 30px;
    background-color: rgb(250, 2, 2);
    border-radius: 0 0 10px 0;
    text-align: center;
    z-index:2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.product_tag span{
    color: white;
}
.product_name{
    position: absolute;
    text-align: center;
    z-index: 3;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: rgb(205, 194, 194);
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 600,
  'opsz' 48;
  color: white;
}
.sandwich_container{
    position: relative;
}
#sandwich{
    border-radius: 0%;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 60px;
    top: 40px;
    transform: scale(1.5);
}
#sandwich:hover{
    background-color: white;
    color: rgb(37, 37, 148);
}
#left_button,#right_button{
   transform: translateY(25%);
   user-select: none;
}
#right_button_banner,#left_button_banner{
    transform: translateY(-50%, -50%);
    position: absolute;
    user-select: none;
}
.popup_wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position:fixed;
    top: 0;
    left: 0;
    z-index: 6;
}
.popup_product_area{
    width: 100%;
    max-width: 1100px;
    height: 80vh;
    max-height: 700px;
    background-color: white;
    border:5px solid blue;
    border-radius: 20px;
    position: absolute;
    top: 10%;
    left: 10%;
}
.popup_product_title{
    position: absolute;
    left: 25%;
    top: 5%;
    padding: 20px;
    color: blue;
    font-size: 2rem;
}
.popup_product_display{
    width: 45%;
    height: 55%;
    background-color: lightskyblue;
    position: absolute;
    left: 5%;
    top: 25%;
}
.popup_last_image,.popup_next_image{
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
    top: 40%;
    cursor: pointer;
    z-index: 10;
}
.popup_last_image:hover,.popup_next_image:hover{
    transform:scale(1.05);
    border:1px solid white;
}
.popup_last_image span ,.popup_next_image span{
    position: absolute;
    top: 10%;
    left: 25%;
}
.popup_product{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}
.popup_product_container{
    width: 100%;
    max-width: 1100px;
    height: 100vh;
    max-height: 700px;
    border: 1px solid red;
    background-color: white;
    position: fixed;
    margin: 0 auto;
    
}
.popup_product_title{
   font-size: 2rem;
   padding: 20px;
   background-color: blue;
   color: white;
   border: 1px solid green;
   position: absolute;
   left: 45%;
   top: 5%;
}
.popup_product_exit{
    width: 50px;
    height: 50px;
    background-color: rgb(236, 75, 75);
    border-radius: 10px;
    position: absolute;
    right: 5%;
    top: 5%;
}
.popup_product_displayer{
    width: 50%;
    height:60%;
    position: absolute;
    top: 20%;
    left: 5%;
    background-color: grey;
}
.popup_product_description{
    width: 35%;
    height: 60%;
    position: absolute;
    top: 20%;
    right: 5%;
    background-color: grey;
}
.popup_product_price{
    width: 150px;
    height: 60px;
    border: 1px solid blue;
    position: absolute;
    bottom: 5%;
    left: 15%;
}
.popup_product_buy{
    width: 150px;
    height: 60px;
    background-color: blue;
    position: absolute;
    bottom: 5%;
    left: 50%;
}
.popup_last_image{
    left: 10px;
}
.popup_next_image{
    right: 10px;
}
.popup_image_holder{
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    left: 5%;
    top: 10%;
    z-index: 9;
    display: flex;
    overflow: hidden;
}
.popup_image{
    max-height: 100%;
    max-width: 100%;
    aspect-ratio: 5/3;
}
.popup_product_description{
    width: 40%;
    height: 60%;
    position: absolute;
    right: 5%;
    top: 25%;
    background-color: lightgray;
    text-align: center;
}
.popup_product_description p{
    margin: 5%;
}
.popup_product_purchase{
    width: 45%;
    height: 15%;
    background-color: lightslategrey;
    position: absolute;
    bottom: 3%;
    left: 5%;
}
.popup_product_price{
    width: 40%;
    height: 60%;
    position: absolute;
    left: 5%;
    top: 20%;
}
.popup_product_price span{
    font-size: 2.5rem;
    position: absolute;
    left: 14%;
    color: blue;
}
.popup_product_buy{
    width: 40%;
    height: 60%;
    background-color: blue;
    border: none;
    border-radius: 10px;
    position: absolute;
    right: 5%;
    top: 20%;
}
.popup_product_buy:hover{
    transform: scale(1.05);
}
.popup_product_buy span{
    font-size: 2.0rem;
    color: white;
}
.popup_exit{
    width: 40px;
    height: 40px;
    background-color: red;
    border: none;
    border-radius: 10%;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
